html {
    overflow: hidden;
}

.notransition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  -ms-transition: none !important;
  transition: none !important;
}

/*******************************
       NetView Component
*******************************/

#simulation {
    position: absolute;
    margin: 0;
    padding:0;
    bottom: 0px;
    top: 37px;
    left: 0px;
    right: 45%;
    background: white;
}

.firmEmpl {
  cursor: pointer;
}

.firmSel {
  /*fill: #85A9E1;*/
  stroke: #4D81D1;
  stroke-width: 2px;
  stroke-linecap: round;
  stroke-dasharray: 4px;
  fill: transparent;
  vector-effect: non-scaling-stroke;
}

.link {
  stroke: #999;
  stroke-width: 1.5px;
  /*vector-effect: non-scaling-stroke;*/
}

/*------------------------------
  Simulation playback controls
------------------------------*/

#simulator-controls {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

#speed-control > .menu {
  top: auto;
  bottom: 100%;
  left: 0%;
  right: 0%;
  margin: 0em 0em 0em;
  min-width: 0px;
}
#speed-control > .menu > .item {
  height: auto;
  width: auto;
  text-align: center;
  color: rgba(60, 60, 60, 0.7);
  padding-left: .7em !important;
}

#search-bar {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 100px;
}

#search-bar.focus input {
  border-color: #3b83c0;
}

/*******************************
        Probability Bar
*******************************/

.ui.probabilitybar {
    padding: 1px !important;
    margin: 2px !important;
    margin-left: 3.1em !important;
    width: 40%;
    cursor: pointer;
}

.ui.probabilitybar .bar {
    min-width: 1%;
}

.ui.probabilitybar .bar > .progress {
    color: black !important;
    right:auto !important;
    left:-3.4em !important;
    text-align: right;
    width: 3em !important;
}

.ui.probabilitybar.mixed .bar {
    background-size: 30px 30px;
    background-image: linear-gradient(135deg, rgba(255, 255, 255, 0.08) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.08) 50%, rgba(255, 255, 255, 0.08) 75%, transparent 75%, transparent);
}

/*******************************
           Dashboard
*******************************/

#dashboard {
  position: absolute;
  margin: 0;
  width: 45%;
  right: 0px;
  top: 37px;
  bottom: 0px;
  padding: 5px;
  overflow-y: auto;
  overflow-x: hidden;
  border-left: 1px solid #CCCCCC;
}

#dashboard .ui.card .description .field {
  font-weight: bold;
}

#dashboard .ui.two.cards {
  margin-left: -.5em;
  margin-right: -.5em;
}
#dashboard .ui.two.cards > .card {
  width: -webkit-calc( 50%  -  1em );
  width: calc( 50%  -  1em );
  margin-bottom: .7em;
  margin-left: .5em;
  margin-right: .5em;
}

/*------------------------------
    SemanticUI cards tweaks
------------------------------*/

.ui.card.black {
  border-top: 2px solid black;
}

.ui.card.blue {
  border-top: 2px solid #3b83c0;
}

.ui.card.disabled {
    background-color: #CCCCCC;
    background-size: 30px 30px;
    background-image: linear-gradient(135deg, rgba(255, 255, 255, 0.08) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.08) 50%, rgba(255, 255, 255, 0.08) 75%, transparent 75%, transparent);
}
.ui.card.disabled > *,
.ui.card.disabled .header {
  color: gray !important;
}

.ui.cards > .card > .extra .header,
.ui.card > .extra .header {
  font-size: 100% !important;
}

/*------------------------------
             Charts
------------------------------*/

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.chart-line {
  fill: none;
  /*stroke: #4682B4;*/
  stroke-width: 1.5px;
}
.chart-line:hover {
  stroke-width: 3px;
}

.ui.cards > .card > .chart,
.ui.card > .chart {
  display: block;
  position: relative;
  padding: 0em;
  background: rgba(0, 0, 0, 0.05);
}
.ui.cards > .card > .chart > svg,
.ui.card > .chart > svg {
  font-size: 50%;
  display: block;
  width: 100%;
  height: auto;
  border-radius: 0.2857rem 0.2857rem 0em 0em;
  border: none;
}
.ui.cards > .card > .chart:only-child > svg,
.ui.card > .chart:only-child > svg {
  border-radius: 0.2857rem;
}