.lf-component {
    position: absolute; top:0; bottom:0;left: 0; right: 0;
}

.lf-main-panel {
    padding:0;
    top:1em; bottom:1em;
}

.firmEmpl.selected {
  stroke: #2C74E2;
  stroke-width: 2px;
}

.link {
  stroke: #999;
  stroke-width: 1.5px;
}

